@font-face {
    font-family: 'Dancing Script';
    src: url('fonts/DancingScript-Bold.ttf') format('truetype'), url('fonts/DancingScript-Regular.ttf') format('trutype');
    font-weight: normal;
    font-style: normal;
}