[class*="col-"] {
    border: 0px;
}

.navbar-fonts {
    font-family: 'Dancing Script';
    font-size: 24px;
}

.navbar-title {
    font-weight: bold;
    font-size: 32px;
}

.dropdown-item {
    font-size: 18px;
}

.listing {
    margin-top: 60px;
}

.item_caption {
    margin-left: 2px;
    margin-top: 4px;
    margin-bottom: 1px;
    font-family: 'Dancing Script';
    font-size: 24px;
}

.item_description {
    font-family: 'Dancing Script';
    color: gray;
}